.albumsContainer .photo {
    position: relative;
    cursor: pointer;
}

.albumsContainer img {
    width: 100%;
}

.albumsContainer ul {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.albumsContainer .photo:hover ul {
    display: flex;
    flex-direction: column;
}

.albumsContainer li {
    margin: 0 10px;
    color: white;

}

.albumsContainer li h5 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.albumsContainer li h6 {
    font-size: 1rem;
    text-transform: lowercase;
    font-family: "Open Sans", sans-serif;
}

.albumsContainer .photo:before {
    transition: .3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 5;
}

.albumsContainer .photo:hover:before {
    opacity: 0.8;
}