.contacts-container {

    height: 100vh;
    display: flex;
    align-items: center;
}

.contacts-container h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.contacts-container svg {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-bottom: 2.5px;
}

.contacts-container ul {
    list-style: none;
    padding: 0;
}

.contacts-container .icon {
    width: 32px;
    margin-right: 10px;
}

.contacts-container ul li {
    margin-bottom: 10px;
}

.contacts-container ul a:hover {
    text-decoration: none;
}

.contacts-container ul a {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

.contacts-container input:focus,
.contacts-container textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #333333;
}

.contacts-container label {
    font-family: 'Open Sans', sans-serif;
}

.contacts-container textarea {
    height: 125px;
}

.contacts-container button.btn {

    margin-top: 10px;

    background-color: #333333;
    color: white;
    text-transform: uppercase;
}

.contacts-container button.btn:hover {
    background-color: white;
    border-color: #333333 !important;
    color: #333333;
}

.popup-body {
    padding: 50px;
    position: relative;
}

.popup-body h1 {
    font-size: 1rem;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.popup-body .close {
    position: absolute;
    top: 0;
    right: 5px;
}

@media (max-height: 800px) {
    .contacts-container {
        display: block;
    }
}

@media (max-width: 1100px) {
    .contacts-container {
        padding-top: 80px;
    }
}