.create {
    margin-top: 100px;

}

.create h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fc8335;
}

.create ul {
    margin: 40px auto;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.create li {
    display: inline-block;
}

.create button.btn {
    margin: 0 10px;
    text-transform: uppercase;
    background-color: #fc8335;;
    color: white;
    border: 1px solid #fc8335;
}

.create button.btn-danger {
    background-color: darkred;
    border: 1px solid darkred;
}

.create button.btn:hover {
    background-color: transparent;
    color: #fc8335 !important;
}

.create button.btn-danger:hover {
    color: #fc8335 !important;
}

.foxy {
    width: 150px;
    display: block;
    margin: auto;
}

.photosContainer {
    width: 100%;
    margin: auto;
    display: block;
    min-height: 200px;
    margin-bottom: 40px;
}

.dropzone {
    width: 100%;
    margin: auto;
    border: 1px dashed #ced4da;
    border-radius: 5px;
    min-height: 200px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropzone p {
    text-transform: uppercase;
    font-family: Comfortaa, sans-serif;
    margin-bottom: 0;
    color: rgba(252,131,53,0.75);
}
.photosContainer > div {
    display: inline-block;
    width: calc(33.3% - 10px);
    float: left;
    margin: 5px;
    box-sizing: padding-box;
    cursor: pointer;
}

.photosContainer .photo {
    position: relative;
}

.photosContainer img {
    width: 100%;
}

.photosContainer ul {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 5;
}

.photosContainer .photo:hover ul {
    display: flex;
}

.photosContainer li {
    margin: 0 10px;
}

.photosContainer button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
}

.create .photosContainer .photo:before {
    transition: .3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 5;
}

.create .photosContainer .photo:hover:before {
    opacity: 0.8;
}

.previewPhoto {
    width: 75%;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}



@media (max-width: 991px) {
    .photosContainer > div {

        width: calc(50% - 10px);

    }

}

@media (max-width: 767px) {
    .photosContainer > div {

        width: calc(100% - 10px);

    }

}

