.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.photoBack > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: animatedBackground 50s linear infinite;
    transition: .75s;
}

@keyframes animatedBackground {
    0% {
        transform: scale(1) translate(0px, 0px);

    }

    50% {
        transform: scale(1.4) translate(50px, 50px);

         }

    100% {
        transform: scale(1) translate(0px, 0px);

        }
}

.hero:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    z-index: 2;
}

.hero:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/overlay-pattern.png');
    opacity: .5;
    z-index: 1;
}

.hero .infoContainer {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white ;
    justify-content: center;
}

.info {
    padding: 0 15px;
}

.info h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 50px;
    letter-spacing: 0.5rem;
    line-height: 4rem;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    transition: .3s;
}

.info p {
    line-height: 25px;
    font-size: 1rem;

    max-width: 500px;
    margin: auto;
    margin-bottom: 35px;
    position: relative;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.info p ::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    width: 80px;
    height: 4px;
    margin-left: -40px;
    background-color: white;
    border-radius: 5px;
}

.info img {
    width: 15%;
    max-width: 150px;
    min-width: 100px;
    margin-bottom: 25px;
    margin-left: 4%;
}

a.btn {
    border: 1px solid #ebebeb !important;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 15px 35px;
    font-size: 1rem;
    font-family: 'Comfortaa', sans-serif;
}

.btn:hover {
    color: #333 !important;
    text-decoration: none;
    background-color: #fff;
}

@media (max-width: 768px) {
    .info h1 {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        line-height: 2rem;
    }

    a.btn {
        font-size: 1rem;
    }


}

@media (max-width: 576px) {
    .info h1 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        line-height: 2rem;
    }

    a.btn {
        font-size: 0.75rem;
    }


    .info {
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {
    .info {
        margin-bottom: 100px;
    }
}

@media (max-height: 500px) {
    .info img {
        max-width: 100px;
        min-width: 50px;
    }

    .info h1 {
        margin-bottom: 20px;
    }

    .info p {
        display: none;
    }

    a.btn {
        font-size: 0.5rem;
    }

    .info {
        margin-top: 60px;
        margin-bottom: 0px !important;
    }
}






