.photo {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.photo .loader.loader {
    position: absolute;
    top: 45%;
    left: 47.5%;
    color: white;
}

.photo img {
    filter: blur(10px);
}

.iron-image-loaded {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
    transition: .3s;
}

.iron-image-fade-in {
    opacity: 1;
}