.navbar.navbar-default, .navbar.navbar-default.navbar-faded.navOpen {
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    left: 0;
    border: none;
    box-shadow: none;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    transition: 0.2s;
    background-image: none;
    background-color: white;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    text-align: center;
}

.navbar.navbar-default.navbar-faded {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.navbar .container {
   padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0.6rem !important;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.toggler {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.toggler:focus {
    outline: none;
}

.navbar-default .navbar-brand, .navOpen .navbar-brand {
    color: black !important;
}

.navbar-faded .navbar-brand {
    color: white !important;
}

.navbar li a{
    font-size: 1rem;
    color: black ;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
}

.navbar-faded li a{
    color: white ;
}

.navbar li {
    margin-left: 10px;
    margin-right: 10px;
}

.collapsable {
    overflow: hidden;
    transition: .3s;
    padding-bottom: 1px;
}
.collapsable a {
    position: relative;
}

.collapsable a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -5px;
    background: #333;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsable a:hover {
    text-decoration: none;
}

.collapsable a:hover:before, .collapsable a.active:before {
    left: 0;
    right: 0;
}

.changeLang {
    width: 30px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .navbar-header {
        width: 100%;
        justify-content: space-between;
    }

    .collapsable {
        max-height: 0;
        display: block;
        width: 100%;

    }

    .navbar li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}