.portfolioContainer {
    margin-top: 80px;
}

.categories {
    display: block;
    list-style: none;
    padding: 5px;
    text-align: center;
}

.categories li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.categories li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0px;
    background: #333;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.categories li.active:before,
.categories li:hover:before{
    left: 0;
    right: 0;
}

.albumsContainer {
    width: 100%;
    display: block;
}

.albumsContainer > div {
    display: inline-block;
    width: calc(33.3% - 10px);
    float: left;
    margin: 5px;
    box-sizing: padding-box;
}

.loader {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: animateLoader 1s linear infinite;
    font-size: 2rem;
}

@keyframes animateLoader {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}

@media (max-width: 992px) {
    .albumsContainer > div {

        width: calc(50% - 10px);

    }

}

@media (max-width: 767px) {
    .albumsContainer > div {

        width: calc(100% - 10px);

    }

}