.slick-slider {
    width: 100%;
}

.slick-arrow:before {

    color: black;
}

 .price-boxes-container h1 {
    font-family: "Open Sans", sans-serif;
     text-transform: uppercase;
     margin: auto;
     text-align: center;
     padding: 0 5px;
     display: block;
 }

.price-boxes-container {

    height: 100vh;
    display: flex;
    align-items: center;
   

}

.price-box-container {
    padding: 20px;
}

.price-box .pr-box {
    padding: 20px 15px;
}

.price-box {
    position: relative;
    background-color: white;
    margin: 20px auto;
    max-width: 400px;
    padding-bottom: 30px;
    text-align: center;
    z-index: 2;
    border: 0px solid rgba(130, 130, 130, 0.2);
    box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.price-box .price-heading {
    min-height: 250px;
    position: relative;
    padding: 60px 15px;
    color: #FFF;
}

.pr-box.price-heading:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-image {
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    background-size: cover;
}

.price-box .price-heading i {
    margin-bottom: 20px;
    font-size: 32px;
}

.price-box .price-heading-inner {
    position: relative;
    z-index: 2;
}

.price-box .price-heading .price-title {
    margin: 0;
    margin-top: 40px;
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.price-box .price-heading .price-heading-text {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}



.price-box .price-box-price .price {
    position: relative;
    display: inline-block;
    font-size: 62px;

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.price-box .price-box-price .price-currency {
    position: absolute;
    top: 10px;
    left: -15px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.price-box .price-features {
    min-height: 100px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0px solid rgba(130, 130, 130, 0.15);
}

.pr-box a.btn {
    background-color: #333333;
}

.pr-box a.btn:hover {
    background-color: white;
    border-color: #333333 !important;
}

.price-box .price-features > ul > li {
    padding: 5px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.price-box.price-box-featured:after {
    position: absolute;
    display: block;
    content: "\f087";
    top: 0px;
    right: 0px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 15px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 21px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
    /* border-radius: 50px; */
}

@media (max-height: 800px) {
    .price-boxes-container {
        display: block;

    }
}

@media (max-width: 1100px) {
    .price-boxes-container {
        padding-top: 80px;
        
    }


   .price-box .price-heading {
       min-height: 150px;
   }

    .price-box .price-box-price .price {
        font-size: 1.5rem;
    }

    .price-box .price-box-price .price-currency {
        top: 3px
    }

    .price-box .price-heading {
        padding: 30px;
    }

    .price-box .price-heading .price-title {
        margin-top: 25px;
    }
}

@media (max-width: 767px) {
    .price-boxes-container {
        
        padding-bottom: 0px;
    }
}