.reviews-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.reviews-container img {
    margin: auto;
    width: 100%;
}

.reviews-container h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 30px;
}

@media (max-height: 800px) {
    .reviews-container {
        display: block;

    }
}

@media (max-width: 1100px) {
    .reviews-container {
        padding-top: 80px;

    }

    .reviews-container img {

        width: 85%;

    }

}

@media (max-width: 767px) {
    .reviews-container img {

        width: 65%;

    }

}

@media (max-width: 468px) {
    .reviews-container img {

        width: 85%;

    }

}